.form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.full {
  grid-column: span 2;
  padding-bottom: 4rem;
}

@media (max-width: 768px) {
  .form-container {
    grid-template-columns: 1fr;
  }

  .full {
    grid-column: span 1;
    padding-bottom: 1.5rem;
  }
}
