.currency-input-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.input-prefix {
  position: absolute;
  left: 12px;
  pointer-events: none;
}

.currency-input {
  padding-left: 28px;
}