.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.title {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
}
.detail {
  font-size: 0.9rem;
  font-weight: 500;
  color: #969696;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }
}
