* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  min-height: 100vh;
}

.underline-text {
  text-decoration: underline;
}
