.fields-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2.5rem;
}

@media (max-width: 768px) {
  .fields-container {
    flex-direction: column;
    gap: 1rem;
  }
}
